* { margin:0;
    padding: 0;}

a {
    text-decoration: none;
    color: inherit;
}

image {
    vertical-align: top;

}

ul,
ol,
li {
    list-style: none;
}

*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

