
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Ubuntu&display=swap');

.wrapper {
    min-height: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #434343;
}

.wrapper-background {
    background: url("/img/background-img.png") no-repeat center;
    background-size: cover;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: center;
    background: #00000066;
    height: 58px;
    padding: 0 79px;
    margin-bottom: 3%;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
}

@media screen and (max-width: 750px) {
   .header-container {
       height: calc(58 / 770 * 100vh);
       padding: 15px;
       margin-bottom: 20px;
   }
}

@media screen and (min-width: 1366px) {
    .header-box {
        max-width: 1208px;
        align-items: center;
    }
}

.journey-container  {
    font-weight: 700;
}

a:hover {
    color: #236D47;
    transition: .25s;
}

.contacts-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
}

.contacts-container a:hover svg {
    filter: invert(35%) sepia(18%) saturate(1359%) hue-rotate(97deg) brightness(74%) contrast(92%);
}

.contacts-container > div:not(:last-child) {
    margin-right: 27px;
}

.welcome-container {
    display: flex;
    align-items: center;
}

@media  (max-width: 560px) {
    .welcome-container {
        font-size: 18px;
        flex-wrap: wrap;
    }
}

.separator {
    width: 1px;
    height: 19px;
    opacity: .5;
    background: #FFFFFFE5;
}

.form-field {
    display: flex;
    position: absolute;
    top: calc(50% - 584px/2 + 25px);
    left: calc(50% - 444px/2);
    background: #ffffff;
    width: 444px;
    height: 585px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 720px) {
    .form-field {
        border: 1px solid black;
        margin-top: 50px;
    }
}

.content-container {
    display: flex;
    width: 325px;
    height: 516px;
    flex-direction: column;
    padding-bottom: 25px;
}

.content-container-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.sign-up-text {
    font-size: 20px;

}

.sign-up-text::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    width: 18px;
    height: 18px;
    background: #3CB878;
}

.log-in-text {
    display: block;
    color: #3CB878;
    padding-top: 6px;
}

.log-in-text a:hover {
    text-decoration: underline;
}

.social-aut {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.social-rectangle {
    display: flex;
    position: relative;
    width: 160px;
    height: 48px;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px 0 10px;
    box-sizing: border-box;
}

.facebook {
    background: #305DB8;
}

.facebook:hover {
    background: #022263;
}

.google {
    background: #DF4A32;
}

.google:hover {
    background: #AB1F09;
}

.social-separator {
    width: 1px;
    height: 28px;
    opacity: 10%;
}

.facebook>.social-separator {
    background: #0A162F;
}

.google>.social-separator {
    background: #2B0D09;
}

.text-social {
    font-size: 16px;
    color: #fff;
    padding: 0 12px;
    position: relative;
}

.or-separator {
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 15px;
}

.or {
    color: #848484;
}

.or::before {
    content: "";
    width: 150px;
    border-bottom: 1px solid #F2F2F2;
    position: absolute;
    top: 14px;
    left: 0;
}

.or::after {
    content: "";
    width: 150px;
    border-bottom: 1px solid #F2F2F2;
    position: absolute;
    top: 14px;
    right:  0;
}

.input-fields {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.terms-conditions {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: nowrap;
    margin-bottom: 25px;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-box {
    width: 1.25em;
    height: 1.25em;
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.checkbox-input {
    display: none;
}

.checkbox-box::after {
    content:'\2714';
    color: #01813F;
    transform: scale(0);
    transition: transform 0.15s;
}

.checkbox-input:checked + .checkbox-box {
    transform: scale(1.2);
}

.checkbox-input:checked + .checkbox-box:after {
    transition: .3s;
    animation-name: rotate;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes rotate {
    0% {
        transform: rotate(0) translateY(60px) scale(.5);
        color: #112218;
    }
    100% {
        transform: rotate(360deg) translateY(0) scale(1.2);
    }
}

.terms {
    color: #3CB878;
}

.input-fields input {
    color: #434343;
    margin-bottom: 15px;
    padding-left: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    height: 45px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.input-fields input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.31);
}

input:focus { outline: none; }

form input[type="submit"] {
    background: #112218;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

form input[type="text"] {
    box-sizing: border-box;
    transition: border-color 0.5s ease-out;
}

input[type="submit"]:hover {
    background: #01813F;
}

input[type="submit"]:active {
    background: #112218;
}

::-webkit-input-placeholder {
    color: #BEBEBE;
}
